<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <title>
        Destinations
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <header>
        <h1 class="main-title">Travel Diary</h1>
        <!-- Include the nav partial -->
        <%- include('../partials/nav') %>
    </header>
</body>