<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Destinations
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<header>
    <h1>Your Travel Diary</h1>
    <!-- Include the nav partial -->
    <%- include('../partials/nav') %>
</header>