<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Destination</title>
</head>

<body>
    <% include('../partials/header') %>
        <form action="/destinations" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="country">Country:</label>
                <input type="text" id="country" name="country" required>
            </div>
            <div>
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>
            <!-- <div>
                <label for="image">Image URL:</label>
                <input type="file" id="image" name="image" accept="image/">
            </div> -->
            <div>
                <button type="submit">Create Destination</button>
            </div>
        </form>
        <%- include('../partials/footer') %>

</body>

</html>